@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hyundai Sans Text', sans-serif;
}

h1, h2, h3 {
  font-family: 'Hyundai Sans Head KR', sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

.paragraph {
  font-size: 24px;
}

.button {
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 1440px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .paragraph {
    font-size: 19px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 32px;
  }
}

/* HyundaiSansHeadKR */
@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url("../fonts/HyundaiSansHeadKR/Light/HyundaiSansHeadKRLight.otf"), url("../fonts/HyundaiSansHeadKR/Light/HyundaiSansHeadKRLight.ttf"), url("../fonts/HyundaiSansHeadKR/Light/HyundaiSansHeadKRLight.woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url("../fonts/HyundaiSansHeadKR/Regular/HyundaiSansHeadKRRegular.otf"), url("../fonts/HyundaiSansHeadKR/Regular/HyundaiSansHeadKRRegular.ttf"), url("../fonts/HyundaiSansHeadKR/Regular/HyundaiSansHeadKRRegular.woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url("../fonts/HyundaiSansHeadKR/Medium/HyundaiSansHeadKRMedium.otf"), url("../fonts/HyundaiSansHeadKR/Medium/HyundaiSansHeadKRMedium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url("../fonts/HyundaiSansHeadKR/Bold/HyundaiSansHeadKRBold.otf"), url("../fonts/HyundaiSansHeadKR/Bold/HyundaiSansHeadKRBold.ttf"), url("../fonts/HyundaiSansHeadKR/Bold/HyundaiSansHeadKRBold.woff");
  font-weight: 700;
  font-display: swap;
}

/* HyundaiSansTextKR */
@font-face {
  font-family: 'Hyundai Sans Text';
  src: url("../fonts/HyundaiSansTextKR/Regular/HyundaiSansTextKRRegular.otf"), url("../fonts/HyundaiSansTextKR/Regular/HyundaiSansTextKRRegular.ttf"), url("../fonts/HyundaiSansTextKR/Regular/HyundaiSansTextKRRegular.woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Hyundai Sans Text';
  src: url("../fonts/HyundaiSansTextKR/Medium/HyundaiSansTextKRMedium.otf"), url("../fonts/HyundaiSansTextKR/Medium/HyundaiSansTextKRMedium.ttf"), url("../fonts/HyundaiSansTextKR/Medium/HyundaiSansTextKRMedium.woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Hyundai Sans Text';
  src: url("../fonts/HyundaiSansTextKR/Bold/HyundaiSansTextKRBold.otf"), url("../fonts/HyundaiSansTextKR/Bold/HyundaiSansTextKRBold.ttf"), url("../fonts/HyundaiSansTextKR/Bold/HyundaiSansTextKRBold.woff");
  font-weight: 700;
  font-display: swap;
}

.header {
  padding: 20px 0;
}

.logo {
  display: block;
}

.hero {
  position: relative;
  height: 100vh;
  max-height: 728px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #032D5D;
  /* На случай, если видео и картинка не прогрузятся */
}

.hero-content {
  position: relative;
  z-index: 2;
  padding-top: 36px;
}

.hero__subtitle {
  margin-top: 5px;
  display: block;
  font-size: 24px;
  font-weight: normal;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 728px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  width: 100%;
  max-width: 150px;
}

@media (max-width: 992px) {
  .hero {
    height: auto;
    min-height: 320px;
    background-image: url("../images/hero-bg.jpg");
    background-position: right;
  }
  .hero-content {
    padding-top: 30px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero__video {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero-content {
    padding-top: 20px;
  }
  .hero__title {
    font-size: 28px;
  }
  .hero__subtitle {
    font-size: 15px;
  }
  .logo {
    max-width: 155px;
  }
}

.request {
  padding: 32px 0;
  background: #032D5D;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label {
  width: 100%;
  max-width: 180px;
}

.form__input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
}

.form__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form__input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form__input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form__input::placeholder {
  color: #fff;
  opacity: 1;
}

.form__select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-height: 52px;
  background-image: url("../images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.form__button {
  border: 1px solid #fff;
  padding: 15px 0;
  width: 100%;
  max-width: 140px;
  font-size: 16px;
  color: #0B3367;
  background-color: #fff;
}

.form__button:hover {
  background-color: transparent;
  color: #fff;
}

@media (max-width: 1200px) {
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__label {
    margin-bottom: 23px;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: inherit;
  }
  .form__label:last-of-type {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 0;
  }
  .form__button {
    margin: auto;
    margin-top: 24px;
    max-width: 280px;
  }
}

@media (max-width: 576px) {
  .request {
    padding-top: 20px;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__label {
    -ms-flex-preferred-size: fill;
        flex-basis: fill;
  }
  .form__label:last-of-type {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form__button {
    margin: auto;
    margin-top: 24px;
    max-width: 280px;
  }
}

.benefits {
  padding: 48px 0;
  background-color: #F6F3F2;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 120px;
  list-style-type: none;
}

.list__item {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  position: relative;
  margin-bottom: 24px;
  padding-left: 40px;
  font-size: 18px;
}

.list__item:nth-child(6), .list__item:nth-child(3) {
  margin-bottom: 0;
}

.list__item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  width: 25px;
  height: 24px;
  background-image: url("../images/checked.svg");
}

@media (max-width: 1440px) {
  .list__item {
    -ms-flex-preferred-size: 580px;
        flex-basis: 580px;
  }
}

@media (min-width: 1199px) {
  .list__item:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .list__item:nth-child(4) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .list__item:nth-child(5) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .list__item:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .list__item:nth-child(6) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1200px) {
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    min-height: 264px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .list__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 0;
    margin-bottom: 16px;
    min-height: 24px;
  }
  .list__item:nth-child(3) {
    margin-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .benefits {
    padding: 32px 0;
  }
  .list {
    margin: 0;
  }
  .list__item {
    font-size: 16px;
  }
}

.exterior {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 20px 103px;
  text-align: center;
}

.exterior__title {
  margin-bottom: 8px;
}

.exterior__paragraph {
  margin-bottom: 42px;
  max-width: 740px;
}

.exterior__slider.swiper-container {
  max-width: 1080px;
  overflow: visible;
}

.exterior__slide {
  max-width: 1080px;
}

.exterior__image {
  display: block;
  width: 100%;
  height: auto;
}

.exterior__scrollbar.swiper-scrollbar {
  position: absolute;
  bottom: 67px;
  left: 50%;
  -webkit-transform: translateX(-270px);
          transform: translateX(-270px);
  width: 100%;
  height: 4px;
  max-width: 540px;
  background-color: #E2DFDE;
  opacity: 1;
}

.exterior__scrollbar.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #032D5D;
}

@media (max-width: 1200px) {
  .exterior__slider.swiper-container {
    max-width: 900px;
  }
  .exterior__slide {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  .exterior__slider.swiper-container {
    max-width: 700px;
  }
  .exterior__slide {
    max-width: 700px;
  }
  .exterior__scrollbar.swiper-scrollbar {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .exterior__slider.swiper-container {
    max-width: 500px;
  }
  .exterior__slide {
    max-width: 500px;
  }
  .exterior__scrollbar.swiper-scrollbar {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    max-width: 200px;
  }
}

@media (max-width: 576px) {
  .exterior {
    padding-top: 64px;
    padding-bottom: 92px;
  }
  .exterior__slider.swiper-container {
    max-width: 300px;
  }
  .exterior__slide {
    max-width: 300px;
  }
  .exterior__scrollbar.swiper-scrollbar {
    bottom: 65px;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    max-width: 120px;
  }
}

@media (max-width: 375px) {
  .exterior__slider.swiper-container {
    max-width: 280px;
  }
  .exterior__slide {
    max-width: 280px;
  }
}

.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 33px 20px 100px;
}

.learn-more__title {
  margin-bottom: 8px;
}

.learn-more__paragraph {
  margin-bottom: 32px;
  max-width: 500px;
}

.visit-button {
  border: 1px solid #032D5D;
  padding: 18px 0;
  background: #032D5D;
  width: 100%;
  max-width: 213px;
  font-family: 'Hyundai Sans Head KR' ,sans-serif;
  font-size: 16px;
  color: #fff;
}

.visit-button:hover {
  background-color: transparent;
  color: #032D5D;
}

@media (max-width: 576px) {
  .learn-more {
    padding-top: 0;
    padding-bottom: 64px;
  }
  .learn-more__paragraph {
    margin-bottom: 45px;
  }
}
