/* HyundaiSansHeadKR */
@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url('../fonts/HyundaiSansHeadKR/Light/HyundaiSansHeadKRLight.otf'),
    url('../fonts/HyundaiSansHeadKR/Light/HyundaiSansHeadKRLight.ttf'),
    url('../fonts/HyundaiSansHeadKR/Light/HyundaiSansHeadKRLight.woff');
    font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url('../fonts/HyundaiSansHeadKR/Regular/HyundaiSansHeadKRRegular.otf'),
    url('../fonts/HyundaiSansHeadKR/Regular/HyundaiSansHeadKRRegular.ttf'),
    url('../fonts/HyundaiSansHeadKR/Regular/HyundaiSansHeadKRRegular.woff');
    font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url('../fonts/HyundaiSansHeadKR/Medium/HyundaiSansHeadKRMedium.otf'),
    url('../fonts/HyundaiSansHeadKR/Medium/HyundaiSansHeadKRMedium.ttf');
    font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Hyundai Sans Head KR';
  src: url('../fonts/HyundaiSansHeadKR/Bold/HyundaiSansHeadKRBold.otf'),
    url('../fonts/HyundaiSansHeadKR/Bold/HyundaiSansHeadKRBold.ttf'),
    url('../fonts/HyundaiSansHeadKR/Bold/HyundaiSansHeadKRBold.woff');
    font-weight: 700;
  font-display: swap;
}
/* HyundaiSansTextKR */
@font-face {
  font-family: 'Hyundai Sans Text';
  src: url('../fonts/HyundaiSansTextKR/Regular/HyundaiSansTextKRRegular.otf'),
    url('../fonts/HyundaiSansTextKR/Regular/HyundaiSansTextKRRegular.ttf'),
    url('../fonts/HyundaiSansTextKR/Regular/HyundaiSansTextKRRegular.woff');
    font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Hyundai Sans Text';
  src: url('../fonts/HyundaiSansTextKR/Medium/HyundaiSansTextKRMedium.otf'),
    url('../fonts/HyundaiSansTextKR/Medium/HyundaiSansTextKRMedium.ttf'),
    url('../fonts/HyundaiSansTextKR/Medium/HyundaiSansTextKRMedium.woff');
    font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Hyundai Sans Text';
  src: url('../fonts/HyundaiSansTextKR/Bold/HyundaiSansTextKRBold.otf'),
    url('../fonts/HyundaiSansTextKR/Bold/HyundaiSansTextKRBold.ttf'),
    url('../fonts/HyundaiSansTextKR/Bold/HyundaiSansTextKRBold.woff');
    font-weight: 700;
  font-display: swap;
}